.panel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #212121;
}

.task-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.toolbar {
    display: flex;
    padding: 0 5px;
    align-items: center;
    width: 100%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: solid 1px #555555;
}

.toolbar-left {
    display: flex;
    padding: 2px;
    align-items: center;
    height: 100%;
}

.build-task-area {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.build-task {
    flex: none;
    margin: 10px;
    padding: 15px;
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.build-task > header {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.build-task-name {
    font-size: 20px;
}

.build-task > section {
    margin-bottom: 15px;
    display: flex;
}

.build-task-status {
    font-size: 14px;
}

.build-task > footer {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

footer > .left {
    display: flex;
    align-items: center;
}

.icon-btn {
    padding: 2px;
    margin-right: 5px;
    width: 23px;
    height: 23px;
    background-color: transparent;
    border: none;
}

.icon-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.icon {
    width: 100%;
    height: 100%;
}

footer > .right {
    display: flex;
    justify-content: end;
    align-items: center;
}

.clip-btn {
    margin-right: 3px;
    padding: 2px;
    width: 23px;
    height: 23px;
    background-color: transparent;
    border: none;
}

.clip-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.clip {
    margin: 1px;
    width: 20px;
    height: 20px;
}

.exit-btn {
    position: absolute;
    top: 0px;
    right: 10px;
}

.config-page {
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.config {
    width: 100%;
    height: 100%;
    background-color: #333333;
    border: solid 2px black;
    border-radius: 5px;
}

.config-header {
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px black;
}

.config-header-name {
    font-size: 15px;
    font-weight: bold;
}
